.span-display{
    display: none;
}
.required:after {
    content: " *";
    color: red;
}
.margin {
    margin-left: 25px
}

.input-filter {
    margin-left: 7px;
}

.margin {
    margin-left: 25px
}